--- 
layout: _layouts/page.html
breadcrumb:
  - name: Common Sitelen Pona
    link: /common/
  - name: Method
    link: /content/method/
---

<style>
    h1.split{
    }
    main{
        position: relative;
    }
</style>


{{ content }}


{% assign previousPost = collections.sorted_method | getPreviousCollectionItem %}
{% assign nextPost = collections.sorted_method | getNextCollectionItem %}

<p>{% if previousPost %}Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</p>

<p>{% if nextPost %}Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</p>

