@font-face {
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body {
    margin: 0;
    /* numbers are approximate APCA contrast รท 10 */
    --jelo-8: #a64300;
    --jelo-7: #cb5300;
    --jelo-5: #ff7400;
    --jelo-1: #ffe3d2;
    --lupa: #0063fd;
    --lupa-pimeja: #000099;
    --sp-split: 20rem;
    --en-split: 20rem;
    background-color: white;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    counter-reset: sp en;
}

.split p[lang="en"]:not(:is(h1, h2, h3, h4) > *)::before {  counter-increment: en; 
  content: "[" counter(en) "]";
}
.split p.sp:not(:is(h1, h2, h3, h4) > *)::before {  counter-increment: sp; 
  content: "[" counter(sp) "]";
}
.split p::before{
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top: 0.15rem;
    left: -2rem;
    font-size: 0.6rem;
    font-weight: 700;
    opacity: 0;
}
.split p {
    position: relative;
}


::selection {
    background-color: var(--jelo-5);
    color: white;
}

main {
    margin-bottom: 4rem;
}

h1 {
    font-variation-settings: "wdth" 75;
    font-size: 2.25em;
    text-align: left;
    margin: 2rem 0 4rem;
    border-bottom: solid var(--jelo-5) 2px;
}

h1 > div {
    grid-column: 2 / 5;
    padding-bottom: 1rem;
}

h2 {
    margin: 4rem auto 1rem;
    border-bottom: dotted var(--jelo-5) 3px;
    font-variation-settings: "wdth" 75;
    font-size: 2em;

    width: fit-content; 
}

.split {
    display: grid;
    grid-template-columns: auto minmax(0, var(--en-split)) minmax(1rem, 7vw) minmax(0, var(--sp-split)) auto;
    grid-auto-flow: dense;
    /*gap: 1rem 0;*/
    padding: 0 1rem;
}

span.split {
    margin: 0
}

h2.split>p {
    margin: 1rem 0
}

.split>[lang="en"] {
    grid-column: 2;
    max-width: var(--en-split);

}

.sp {
    grid-column: 4;
    font-family: "nasin-nanpa", sans-serif;
    width: var(--sp-split);
    min-width: var(--sp-split);
}



a {
    color: var(--lupa);
}


main img {
    width: 100%;
    max-width: calc(42rem + 7vw);
    margin: 1rem auto 4rem;
    display: block
}


body.en-only .split p::before, body.sp-only .split p::before{
    display: none
}
body.en-only .split:not(h1, footer) *, body.sp-only .split:not(h1, footer) *{
    grid-column: 2 / 5;
    margin-bottom: 0;
}


body.en-only .split .sp{
    display: none
}
body.en-only .split:not(h1, footer) [lang="en"]{
    --en-split: 30rem
}

body.sp-only .split:not(h1, footer) [lang="en"]{
    display: none
}


@media (width < 800px) {
    .split {
        padding: 0 6vw
    }
}

@media (width < 700px) {

    body{
        --en-split: 30rem;
        --sp-split: 15rem;
    }
 
    .split p::before{
        opacity: 1;
    }
    
    h2{
        width: inherit;
    }


    .split {
        display: flex;
        flex-direction: column;
        padding-inline-start: 3rem;
    }

    h2.split {
        gap: 0;
        margin: 4rem auto 1rem;
    }

    h2.split>[lang="en"] {
        margin-bottom: 0
    }

    h2.split>.sp {
        margin-top: 0
    }

    span.split>p {
        margin-bottom: 0
    }
}
h2:first-of-type{
    margin-block-start: 0em;
}
